@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);body,body a{color:#414141}.login-form,.pos-relative,.seprator{position:relative}.iframe-container,.iframe-header{text-align:center;box-sizing:border-box}*{margin:0;padding:0}body{font-family:Oswald,sans-serif!important;height:100%;background:url("https://cdn.punchh.com/white-label-basic-images/overlay-bg.jpg") center center/cover no-repeat fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover}body a{-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;-webkit-transition:.3s;text-decoration:none!important;transition:.3s}body a:hover{color:#c55330}.disp-table{display:table;width:100%}.padt40{padding-top:40px}.padb20{padding-bottom:20px}.padnb120{padding-bottom:120px!important}.iframe-header{padding:30px 0 0;overflow:hidden;width:100%}.navbar-div{display:inline-block;font-size:23pt;padding:30px 0;text-align:center;text-transform:uppercase;width:100vw}.navbar-div .popup{color:#900027;display:inline-block;font-weight:400;text-decoration:none;vertical-align:middle;letter-spacing:1px}.navbar-div span+span:before{color:#929292;content:"OR";display:inline-block;font-size:13px;margin:0 20px 0 10px;background-color:#e7ebeb;-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;padding:15px 9px;line-height:3px;vertical-align:middle}.seprator{display:inline-block;height:40px;margin:-5px 20px 0;vertical-align:middle;width:4px}.seprator .or-text{-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background-color:#e7ebeb;color:#929292;font-size:14px;height:30px;left:-12px;line-height:30px;padding:0 8px;position:absolute;top:7px}.forgot-div a,.info-div a,.signup-form form a{display:inline-block;float:right;font-size:12px;font-weight:300;letter-spacing:1px;margin:5px 0 10px;position:relative;text-align:right;text-decoration:none}.forgot-div a:before,.info-div a:before,.signup-form form a:before{-webkit-transform:scaleX(0);-webkit-transition:.3s ease-in-out;background-color:#c55330;bottom:0;content:"";height:1px;left:0;position:absolute;transform:scaleX(0);transition:.3s ease-in-out;visibility:hidden;width:100%}.forgot-div a:hover:before,.info-div a:hover:before,.signup-form form a:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);visibility:visible}.iframe-container{width:100%}.iframe-container .login-form,.iframe-container .signup-form{width:585px;margin:0 auto;padding:40px 0 20px}.iframe-container form{display:inline-block;width:265px;padding-right:15px;vertical-align:middle}.form-hint{font-size:12px;font-weight:300;letter-spacing:1px;line-height:12px;padding:4px 0 10px;text-align:left;width:100%;display:block}.iframe-container form input,.iframe-container form textarea{background-color:#edf2f2;border:1px solid #a3a3a3;box-sizing:border-box;color:#414141;font-family:Oswald,sans-serif;font-size:14px;font-weight:400;height:41px;line-height:41px;outline:0;padding:5px;width:100%}.iframe-container form label{display:block;font-size:14px;font-weight:400;letter-spacing:1px;margin:5px 0 0;text-align:left;text-transform:uppercase}.iframe-container form .error-messages{-webkit-font-smoothing:antialiased;color:#c55330;display:block;letter-spacing:1px;line-height:18px;width:100%}.iframe-container form .error-messages h2{font-size:14px;line-height:14px;padding-bottom:10px;text-align:left}.iframe-container form .error-messages li{font-size:14px;line-height:14px;list-style:none;padding-bottom:5px;text-align:left}.iframe-container form .btn-submit,.iframe-container form .submit-div input{background-color:#282828;border:none;color:#fff;cursor:pointer;font-weight:400;height:40px;line-height:40px;padding:0;width:100%;display:inline-block;letter-spacing:1px;text-transform:uppercase}.iframe-container form .btn-submit:hover,.iframe-container form .submit-div input:hover{-moz-transition:.3s;-o-transition:.3s;-webkit-transition:.3s;transition:.3s;background-color:#c55330}.iframe-container form .submit-div input{font-size:16px}.iframe-container .facebook-login-div{display:inline-block;height:100%;min-height:567px;padding-left:49px;position:relative;text-align:left;vertical-align:top;width:250px}.iframe-container .facebook-login-div:before{border-left:2px solid #a3a3a3;content:"";min-height:567px;left:15px;position:absolute;top:0;width:2px;z-index:22}.iframe-container .facebook-link{width:250px;display:inline-block;vertical-align:top;padding:25px 0 0;font-weight:300}.facebook-label{-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;background-color:#edf2f2;border:2px solid #a3a3a3;color:#a3a3a3;display:inline-block;font-size:14px;height:30px;left:-16px;line-height:30px;margin:0 15px;position:absolute;text-align:center;top:44%;vertical-align:middle;width:30px;z-index:66}.btn-fb,.facebook-link{font-size:14px;font-weight:300;width:100%}.btn-fb a,.facebook-link a,.google-sign_in-link{background-color:#436c99;color:#fff;display:inline-block;height:40px;letter-spacing:1px;line-height:40px;margin-bottom:14px;text-decoration:none;text-transform:uppercase;text-align:center;width:100%}.google-sign_in-link{background-color:#fff;color:#333;display:flex;justify-content:center;align-items:center}.google-sign_in-link img{height:26px;margin-right:5px}.google-sign_in-link:hover{background-color:#fff!important;color:#c55330!important}.btn-fb a:before,.facebook-link a:before{content:url("https://cdn.punchh.com/white-label-basic-images/icon-fb.jpg") no-repeat;display:inline-block;height:43px;margin:0 10px;vertical-align:middle;width:40px}.btn-fb a:hover,.facebook-link a:hover{color:#fff}.login-form form{padding-top:20px;padding-bottom:20px}.login-form .facebook-login-div,.login-form .facebook-login-div:before{min-height:230px}.login-form .facebook-login-div .facebook-link{padding-top:95px}.login-form .submit-div{margin-top:31px}.forgot-div{top:190px;position:absolute;text-align:right;width:265px}.alert-message,.user-dahboard,.user-dahboard .expiry-warning{text-align:center}@media screen and (max-width:480px){.iframe-container .login-form,.iframe-container .signup-form{width:86%;margin:0 7%}.iframe-container form{width:100%;padding:0;margin:0}.iframe-container .facebook-login-div{margin:0;min-height:auto;padding:0;width:100%}.iframe-container .facebook-login-div:before{height:2px;border-left:none;border-top:2px solid #a3a3a3;left:-20px;margin:0 7%;min-height:2px;min-width:276px;padding:0;top:33px;width:246px}.iframe-container .facebook-link{width:100%;padding:60px 0 0}.facebook-label{left:40%;top:15px}.login-form .facebook-login-div,.login-form .facebook-login-div:before{min-height:auto}.forgot-div{width:100%}}.alert-message{color:#c55330;display:inline-block;font-size:14px;font-weight:300;letter-spacing:1px;width:100%}.alert-message strong{font-weight:300}.password-form .header-div{font-size:25px;font-weight:400;letter-spacing:1px;text-transform:uppercase;padding:30px 0}.password-form .submit-div{margin-top:20px}.password-form .submit-div input{font-size:14px!important}.user-dahboard .iframe-container,.user-dahboard .iframe-header{display:inline-block;vertical-align:top;min-height:298px;border:1px solid #a3a3a3;-moz-border-radius:10px;-ms-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;text-align:left;margin:30px 0}.user-dahboard .iframe-header{background-color:#fff;padding:0;width:238px}.user-dahboard .iframe-header .header,.user-dahboard .iframe-header .navbar-div span+span:before{display:none}.user-dahboard .iframe-header .navbar-div{width:100%;padding:0}.user-dahboard .iframe-header .navbar-div span a{border-top:1px solid #a3a3a3;display:block;font-size:14px;line-height:14px;padding:17px 0;text-transform:none;letter-spacing:1px}.user-dahboard .iframe-header .navbar-div span.signout-link{-moz-border-radius:0 0 10px 10px;-ms-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}.user-dahboard .iframe-header .navbar-div span.signout-link a{background-color:#c55330;border:none;color:#fff;font-size:18px;line-height:18px;text-transform:uppercase;-moz-border-radius:0 0 10px 10px;-ms-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px}.ecrm-registration-div select,select#user_fav_location_id{background-color:#edf2f2;border:1px solid #a3a3a3;box-sizing:border-box;color:#414141;font-family:Oswald,sans-serif;outline:0;padding:5px;font-size:14px}.user-dahboard .iframe-container{background-color:#fafafa;width:638px;padding:15px;margin-left:50px}.user-dahboard .alert-message{width:auto;position:absolute}.user-dahboard .current-checkins-div{font-size:16px;line-height:25px;letter-spacing:.5px}.user-dahboard .checkin-form form,.user-dahboard .redemption-form form,.user-dahboard .signup-form form{width:100%}.show-location,.user-dahboard .feedback-share-div input{width:auto;vertical-align:middle}.user-dahboard .barcode-digit,.user-dahboard .barcode-example{color:#a3a3a3;display:block;font-size:12px;font-weight:300;width:100%;letter-spacing:1px}.user-dahboard textarea{font-weight:300;min-height:100px;letter-spacing:1px}.user-dahboard .feedback-share-div{display:block}.user-dahboard .feedback-share-div label{display:inline-block;margin:0;vertical-align:middle;font-weight:300;font-size:13px;text-transform:none}.user-dahboard .expiry-warning,.user-dahboard .info-div{display:block;font-size:16px;font-weight:400;letter-spacing:1px;padding:10px 0}.user-dahboard .expiry-warning a,.user-dahboard .info-div a{float:none!important;font-size:16px;font-weight:400}.user-dahboard .submit-div{width:280px;margin:0 auto;padding:20px 0}.user-dahboard .barcode-div{padding-bottom:15px}.ecrm-registration-div select{font-weight:400;width:32%}.ecrm-registration-div select#location_id{width:100%!important}.ecrm-registration-div input[type=checkbox]{display:inline-block;height:auto;margin-top:10px;vertical-align:top;width:auto!important;float:left}.ecrm-registration-div form label.middle{display:inline-block;vertical-align:top;width:90%;text-transform:none}.ecrm-registration-div .submit-div{margin-top:15px;margin-bottom:25px}.ecrm-registration-div label.required:before{content:"*";color:red;display:inline-block;margin-right:3px}select#user_fav_location_id{font-weight:400;width:100%;height:41px}select#location_id:focus,select#user_fav_location_id:focus{outline:-webkit-focus-ring-color auto 5px}select[disabled]{color:#666;background:#fff;cursor:not-allowed}.text-link{color:#0087d9!important}.text-link::before{background:#8bbced!important}.show-location{display:inline-block!important;text-align:left;float:left}#all-location{display:inline-block;vertical-align:middle;text-align:right;padding:0;margin:5px 0 0;font-size:14px;float:right;font-weight:lighter!important;text-decoration:underline!important}#fav-location-id-hint{font-size:14px;line-height:19px;text-align:left;font-weight:400;float:left;margin-top:20px}
.iframe-container .checkbox_marketing_email_subscription{height:20px;padding:5px;margin:10px 0 0 0;width:20px;float:left;}.iframe-container .label_marketing_email_subscription{padding:10px 0px 10px 30px;margin:0;font-weight:400;font-size:12px;}.iframe-container .iframe-age-verified-section,.iframe-container .iframe-privacy-policy-section,.iframe-container .iframe-terms-and-conditions,.iframe-container #compliance{display:flex;gap:10px;padding:10px 0;font-size:12px;font-weight:400;}.iframe-container .iframe-age-verified-section input[type="checkbox"],.iframe-container .iframe-privacy-policy-section input[type="checkbox"],.iframe-container .iframe-terms-and-conditions input[type="checkbox"],.iframe-container #compliance input[type="checkbox"]{height:20px;padding:5px;margin:0;width:20px;flex:none;}.iframe-container .iframe-age-verified-section label,.iframe-container .iframe-privacy-policy-section label,.iframe-container .iframe-terms-and-conditions label,.iframe-container #compliance label{padding:0;margin:0;font-weight:400;font-size:12px;}.iframe-container .iframe-age-verified-section a,.iframe-container .iframe-privacy-policy-section a,.iframe-container .iframe-terms-and-conditions a,.iframe-container #compliance a{padding:0;margin:0;text-align:left;font-weight:400;font-size:12px;color:inherit;text-decoration:underline!important;float:none;text-transform:uppercase;}.iframe-container .iframe-terms-and-conditions a{display:inline;}

/* =========================================================
   Keke's Rewards – theme overrides
   Paste this AFTER the default Punchh iframe CSS.
   ======================================================= */
:root {
  --kekes-bg: #f4e1ba;         /* soft cream background */
  --kekes-text: #1d130f;
  --kekes-primary: #000000;    /* SIGN UP button */
  --kekes-primary-hover: #262626;
  --kekes-accent: #f08554;     /* LOG IN button (orange) */
  --kekes-accent-hover: #d96f3f;
  --kekes-card-bg: #ffffff;
  --kekes-card-border: #1d130f;
}

/* 1. Full-screen background inside the iframe */
html, body {
  height: 100%;
}

body {
  color: var(--kekes-text);
  font-family: "Your Site Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif !important;
  /* hero background image */
  background-color: var(--kekes-bg) !important;
  background-image: url("https://static.wixstatic.com/media/2b4300_ec37299e4d7c40db89c073ca3c54c4c7~mv2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  position: relative;
  height: 100vh;
  overflow: show;
}

/* 2. Vertically & horizontally centre the content block */
.disp-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100%;
}

.iframe-container {
  width: 100%;
}

/* 3. Card shell for login / signup flows */
.iframe-container .login-form,
.iframe-container .signup-form {
  width: 100%;
  max-width: 420px;
  margin: 40px auto;
  padding: 40px 32px 32px;
  background-color: var(--kekes-card-bg);
  border-radius: 24px;
  border: 2px solid var(--kekes-card-border);
  box-shadow: 0 22px 40px rgba(0, 0, 0, 0.18);
}

/* Title inside the card: "Keke's Rewards" */
.iframe-container .login-form .header-div,
.iframe-container .signup-form .header-div {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

/* 4. Small brand text at the top: "Keke's Breakfast Café" */
.iframe-header {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--kekes-text);
  margin: 0;
  padding: 0;
}

/* 5. Sign Up / Log In buttons row */
.navbar-div {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 0; /* collapse whitespace between spans */
  margin: 35vh auto;
  padding: 150px 32px 32px;
  background-color: var(--kekes-card-bg);
  border-radius: 24px;
  border: 2px solid var(--kekes-card-border);
  box-shadow: 0 22px 40px rgba(0, 0, 0, 0.18);
}

/* each span wraps a link */
.navbar-div span {
  display: inline-block;
  width: 50%;
  font-size: 18px;
}

/* kill the default circular OR pill */
.navbar-div span + span:before {
  display: none !important;
}

/* buttons themselves */
.navbar-div span a.popup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 110px;
  height: 44px;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: bold;
  border: 0;
}

/* left button – SIGN UP */
.navbar-div span:first-child a.popup {
  background-color: var(--kekes-primary);
  color: #ffffff;
}

/* right button – LOG IN */
.navbar-div span:last-child a.popup {
  background-color: var(--kekes-accent);
  color: #ffffff;
}

/* hover states */
.navbar-div span:first-child a.popup:hover {
  background-color: var(--kekes-primary-hover);
  color: #ffffff;
}

.navbar-div span:last-child a.popup:hover {
  background-color: var(--kekes-accent-hover);
  color: #ffffff;
}

.navbar-div::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 180px; /* or whatever size you want */
  height: 100px;
  margin: 0 auto 16px auto;
  background-image: url("https://static.wixstatic.com/media/2b4300_35e01556b349451ba0dfe556de08b50d~mv2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* centred "OR" text floating between the buttons */
.navbar-div::after {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 170%);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--kekes-text);
  pointer-events: none;
}

/* 6. Form fields inside the card */
.iframe-container form {
  width: 100%;
  padding: 24px 0 8px;
}

.iframe-container form label {
  font-size: 11px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 14px 0 4px;
}

.iframe-container form input,
.iframe-container form textarea {
  background-color: #f6f2ea;
  border-radius: 8px;
  border: 1px solid #d2c3a6;
  font-size: 14px;
  padding: 10px 12px;
}

/* primary submit buttons */
.iframe-container form .btn-submit,
.iframe-container form .submit-div input {
  border-radius: 999px;
  height: 44px;
  line-height: 44px;
  background-color: var(--kekes-primary);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 11px;
}

.iframe-container form .btn-submit:hover,
.iframe-container form .submit-div input:hover {
  background-color: var(--kekes-primary-hover);
}

/* 7. Optional: hide Facebook / Google login area if not used */
.facebook-login-div,
.facebook-label {
  display: none !important;
}

/* 8. Links (forgot password, info, etc.) */
.forgot-div a,
.info-div a {
  font-size: 11px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
